@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Sunday Worthy</h1>
        <p>Find a list of inspirational and uplifting movies perfect for relaxing and reflecting after Church or enjoying a film for FHE</p>
        <a class="btn btn-primary btn-lg btn-block" asp-controller="Movies" asp-action="Index" role="button">All Movies</a>
        <a class="btn btn-primary btn-lg btn-block" asp-controller="Movies" asp-action="Create" role="button">New Movies</a>
    </div>
