@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="mx-auto display-1" width="200px;">
        <h1 class="font-weight-bold">Contoso University </h1>
    </div>
</div>
<div class="mx-auto" width="200px;">
    <h2>University Database Management System</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Faculty</h2>
        <a role="button" class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Instructors" asp-action="Index">Instructors</a>
    </div>
    <div class="col-md-4">
        <h2>Manage University</h2>
        <a role="button" class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a>
        <a role="button" class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
    </div>
    <div class="col-md-4">
        <h2>Manage Students</h2>
        <a role="button" class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
    </div>
</div>
