@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a class="btn btn-primary btn-lg btn-block" href="./JournalEntries/Index" role="button">Journal Entries</a>
        <a class="btn btn-primary btn-lg btn-block" href="./JournalEntries/Create" role="button">Add New Entry</a>
    </div>
